In [0]:
!wget "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"

--2020-04-17 09:44:17--  https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.226.83
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.226.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1647046227 (1.5G) [application/x-gzip]
Saving to: ‘GoogleNews-vectors-negative300.bin.gz’

GoogleNews-vectors- 100%[===================>]   1.53G  35.4MB/s    in 45s

2020-04-17 09:45:02 (35.0 MB/s) - ‘GoogleNews-vectors-negative300.bin.gz’ saved [1647046227/1647046227]

In [0]:
import gensim 
from gensim.models import word2vec
from gensim.models import KeyedVectors
from sklearn.metrics.pairwise import cosine_similarity

In [0]:
word_vectors=KeyedVectors.load_word2vec_format("/content/GoogleNews-vectors-negative300.bin.gz",binary=True)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:253: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [0]:
import numpy as np
def odd_one_out(words, word_vectors):
  all_word_vec=[word_vectors[w] for w in words]
  avg_vector=np.mean(all_word_vec,axis=0)
  oddWord=None 
  min_similarity=1.0
  for w in words:
    sim=cosine_similarity([word_vectors[w]],[avg_vector])
    if sim<min_similarity:
      min_similarity=sim
      oddWord=w 
  return oddWord

In [0]:
!unzip '/content/Test(3).zip'

Archive:  /content/Test(3).zip
warning:  stripped absolute path spec from /
mapname:  conversion of  failed
 extracting: Test.csv
 extracting: sample_submission
 extracting: sample_submission.csv

In [0]:
import pandas as pd
df=pd.read_csv('/content/Test.csv')

In [0]:
sample=pd.read_csv('/content/sample_submission.csv')

In [0]:
df.head()

      Word1      Word2    Word3      Word4     Word5
0  elephant       lion    tiger       goat     snake
1       man  policeman  fireman    teacher   postman
2     plane       bird   rocket    balloon       cat
3     onion     celery  lettuce  pineapple    potato
4     India   football   hockey    cricket  swimming

In [0]:
sample.head()

  OddOne
0  snake
1  snake
2  snake
3  snake
4  snake

In [0]:
Xtest=df.values
Ypred=[]
print(Xtest.shape)

(20, 5)

In [0]:
for i in range(Xtest.shape[0]):
  y=odd_one_out(Xtest[i], word_vectors)
  Ypred.append(y)

In [0]:
print(Ypred)

['snake', 'teacher', 'cat', 'pineapple', 'India', 'is', 'was', 'Australia', 'Money', 'think', 'ship', 'Rome', 'Pool', 'Egypt', 'mouse', 'helmet', 'Universe', 'Kill', 'Club', 'Sun']

In [0]:
Yres=pd.DataFrame(Ypred)

In [0]:
Yres.head()

           0
0      snake
1    teacher
2        cat
3  pineapple
4      India

In [0]:
Yres.to_csv('Output.csv',header=['OddOne'],index=False)

In [0]:
pd.read_csv('/content/Output.csv')

       OddOne
0       snake
1     teacher
2         cat
3   pineapple
4       India
5          is
6         was
7   Australia
8       Money
9       think
10       ship
11       Rome
12       Pool
13      Egypt
14      mouse
15     helmet
16   Universe
17       Kill
18       Club
19        Sun

In [0]:
!unzip '/content/glove6b50dtxt(1).zip'

Archive:  /content/glove6b50dtxt(1).zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of /content/glove6b50dtxt(1).zip or
        /content/glove6b50dtxt(1).zip.zip, and cannot find /content/glove6b50dtxt(1).zip.ZIP, period.

In [0]:
!unzip '/content/glove6b50dtxt.7z'

In [1]:
!unzip '/content/drive/My Drive/glove6b50dtxt.7z'

Archive:  /content/drive/My Drive/glove6b50dtxt.7z
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of /content/drive/My Drive/glove6b50dtxt.7z or
        /content/drive/My Drive/glove6b50dtxt.7z.zip, and cannot find /content/drive/My Drive/glove6b50dtxt.7z.ZIP, period.